In [225]:
import pandas as pd
df = pd.read_csv("Indian_election_dataset.csv")  
df

,st_name,year,pc_no,pc_name,pc_type,cand_name,cand_sex,partyname,partyabbre,totvotpoll,electors
0,Andaman & Nicobar Islands,1977.0,1.0,ANDAMAN & NICOBAR ISLANDS,GEN,K.R. Ganesh,Male,independents,IND,25168.0,NaN
1,Andaman & Nicobar Islands,1977.0,1.0,ANDAMAN & NICOBAR ISLANDS,GEN,Manoranjan Bhakta,Male,indian_national_congress,INC,35400.0,85308.0
2,Andaman & Nicobar Islands,1980.0,1.0,ANDAMAN & NICOBAR ISLANDS,GEN,Ramesh Mazumdar,Male,NaN,IND,109.0,96084.0
3,Andaman & Nicobar Islands,1980.0,1.0,ANDAMAN & NICOBAR ISLANDS,GEN,Alagiri Swamy,Male,independents,IND,NaN,96084.0
4,Andaman & Nicobar Islands,1980.0,1.0,ANDAMAN & NICOBAR ISLANDS,GEN,Kannu Chemy,Male,independents,IND,405.0,96084.0
...,...,...,...,...,...,...,...,...,...,...,...
73176,Assam,2014.0,9.0,TEZPUR,GEN,Khemraj Chetry,Male,cpm,CPM,24910.0,1259568.0
73177,Gujarat,1984.0,18.0,GODHRA,GEN,Deepak Kumar Jayantlal Sheth,Male,independent,IND,1293.0,662634.0
73178,Rajasthan,1984.0,12.0,AJMER,NaN,Kailash Meghwal,Male,NaN,BJP,159479.0,742253.0
73179,Bihar,1996.0,41.0,JAHANABAD,GEN,Sujeet Kumar,Male,independent,IND,50.0,1093022.0
73180,Uttar Pradesh,1989.0,5.0,NaN,SC,Jaipal,Male,doordarshi_party,DDP,2179.0,926223.0

In [227]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73181 entries, 0 to 73180
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   st_name     69594 non-null  object
 1   year        69495 non-null  float64
 2   pc_no       69591 non-null  float64
 3   pc_name     69643 non-null  object
 4   pc_type     61815 non-null  object
 5   cand_name   69568 non-null  object
 6   cand_sex    68987 non-null  object
 7   partyname   69605 non-null  object
 8   partyabbre  69618 non-null  object
 9   totvotpoll  69608 non-null  float64
 10  electors    69437 non-null  float64
dtypes: float64(4), object(7)
memory usage: 6.1+ MB

In [229]:
df.drop(['partyabbre','pc_name','pc_no'],axis=1, inplace=True)

In [231]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73181 entries, 0 to 73180
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   st_name     69594 non-null  object
 1   year        69495 non-null  float64
 2   pc_type     61815 non-null  object
 3   cand_name   69568 non-null  object
 4   cand_sex    68987 non-null  object
 5   partyname   69605 non-null  object
 6   totvotpoll  69608 non-null  float64
 7   electors    69437 non-null  float64
dtypes: float64(3), object(5)
memory usage: 4.5+ MB

In [233]:
df.rename(columns={
    'st_name': 'State',
    'pc_no': 'Constituency_No',
    'pc_type': 'Constituency_Type',
    'cand_name': 'Candidate_Name',
    'cand_sex': 'Candidate_Gender',
    'totvotpoll': 'Votes_Polled',
},inplace=True)

In [235]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73181 entries, 0 to 73180
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              69594 non-null  object
 1   year               69495 non-null  float64
 2   Constituency_Type  61815 non-null  object
 3   Candidate_Name     69568 non-null  object
 4   Candidate_Gender   68987 non-null  object
 5   partyname          69605 non-null  object
 6   Votes_Polled       69608 non-null  float64
 7   electors           69437 non-null  float64
dtypes: float64(3), object(5)
memory usage: 4.5+ MB

In [237]:
df.drop_duplicates(inplace=True)

In [239]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73079 entries, 0 to 73080
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              69496 non-null  object
 1   year               69396 non-null  float64
 2   Constituency_Type  61726 non-null  object
 3   Candidate_Name     69475 non-null  object
 4   Candidate_Gender   68892 non-null  object
 5   partyname          69507 non-null  object
 6   Votes_Polled       69509 non-null  float64
 7   electors           69340 non-null  float64
dtypes: float64(3), object(5)
memory usage: 5.0+ MB

In [241]:
df['State'] = df['State'].astype("string")
df['Candidate_Name'] = df['Candidate_Name'].astype("string")
df['Candidate_Gender'] = df['Candidate_Gender'].astype("string")
df['partyname'] = df['partyname'].astype("string")
df['Constituency_Type'] = df['Constituency_Type'].astype("string")

In [243]:
df=df.dropna(subset=(['State','year']))

In [245]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65996 entries, 0 to 73080
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              65996 non-null  string
 1   year               65996 non-null  float64
 2   Constituency_Type  55747 non-null  string
 3   Candidate_Name     62746 non-null  string
 4   Candidate_Gender   62238 non-null  string
 5   partyname          62796 non-null  string
 6   Votes_Polled       62780 non-null  float64
 7   electors           62635 non-null  float64
dtypes: float64(3), string(5)
memory usage: 4.5 MB

In [247]:
df=df.dropna(subset=(['Candidate_Name','partyname']))

In [249]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59708 entries, 0 to 73080
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              59708 non-null  string
 1   year               59708 non-null  float64
 2   Constituency_Type  50455 non-null  string
 3   Candidate_Name     59708 non-null  string
 4   Candidate_Gender   56296 non-null  string
 5   partyname          59708 non-null  string
 6   Votes_Polled       56797 non-null  float64
 7   electors           56678 non-null  float64
dtypes: float64(3), string(5)
memory usage: 4.1 MB

In [251]:
df=df.dropna(subset=(['Candidate_Gender']))

In [253]:
df['electors']=df['electors'].fillna(df['electors'].median())

In [255]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56296 entries, 0 to 73080
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              56296 non-null  string
 1   year               56296 non-null  float64
 2   Constituency_Type  47512 non-null  string
 3   Candidate_Name     56296 non-null  string
 4   Candidate_Gender   56296 non-null  string
 5   partyname          56296 non-null  string
 6   Votes_Polled       53555 non-null  float64
 7   electors           56296 non-null  float64
dtypes: float64(3), string(5)
memory usage: 3.9 MB

In [257]:
df['year']=df['year'].astype(int)

In [259]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56296 entries, 0 to 73080
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              56296 non-null  string
 1   year               56296 non-null  int32
 2   Constituency_Type  47512 non-null  string
 3   Candidate_Name     56296 non-null  string
 4   Candidate_Gender   56296 non-null  string
 5   partyname          56296 non-null  string
 6   Votes_Polled       53555 non-null  float64
 7   electors           56296 non-null  float64
dtypes: float64(2), int32(1), string(5)
memory usage: 3.7 MB

In [261]:
df['Candidate_Gender'] = df['Candidate_Gender'].replace('F', 'Female')

In [263]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56296 entries, 0 to 73080
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              56296 non-null  string
 1   year               56296 non-null  int32
 2   Constituency_Type  47512 non-null  string
 3   Candidate_Name     56296 non-null  string
 4   Candidate_Gender   56296 non-null  string
 5   partyname          56296 non-null  string
 6   Votes_Polled       53555 non-null  float64
 7   electors           56296 non-null  float64
dtypes: float64(2), int32(1), string(5)
memory usage: 3.7 MB

In [278]:
df['Constituency_Type'] = df['Constituency_Type'].fillna('Other')

In [280]:
df['Votes_Polled']=df['Votes_Polled'].fillna(df['Votes_Polled'].median())

In [282]:
df.to_csv('election_clean_data.csv' , index = False)